{% extends 'base.html.twig' %}

{% block title %}Catégorie {{ category.name }}{% endblock %}

{% block body %}

<h1>Catégorie {{ category.name }}</h1>

<div>
    {% for program in programs %}
        <h2>{{program.title}}</h2>
        <img src="{{program.poster}}" alt="">
        <p>{{program.synopsis}}</p>
        <a href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>

    {% else %}
        Aucune série trouvée.
    {% endfor %}
</div>

<a href="{{ path('category_index') }}">
    Retour à la liste des catégories
</a>

{% endblock %}

